.brown-rectangleContact {
    background-color: #D0C1A9;
    color: white;
    padding: 20px;
    align-items: center;
    scroll-margin-top: 70px;
}

.brown-rectangleContact h2 {
    font-family: "Noto Serif", serif;
    text-align: center;
    font-size: 2.5vw;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px; /* Reduced margin-top */
    margin-bottom: 4vh;
}

.contact-info div {
    text-align: center;
    justify-content: center;
}

.contact-info p {
    font-family: "Noto Serif", serif;
    color: white;
    margin: 0;
    font-size: 1.5vw;
    font-weight: bold;
    padding-left: 3vw; /* Added padding-top to ensure some spacing */
    padding-right: 4vw; /* Added padding-top to ensure some spacing */
}

.contact-info .iconPh {
    width: 3.8vw;  /* Adjusted to be responsive */
    height: auto;
    margin-bottom: 1.5vh;  /* Reduced margin-bottom */
    margin-right: 1vw;
}
.contact-info .iconMl {
    width: 4vw;  /* Adjusted to be responsive */
    height: auto;
    margin-bottom: 1.5vh;  /* Reduced margin-bottom */
    margin-right: 0.9vw;
}
.contact-info .iconFb {
    width: 4vw;  /* Adjusted to be responsive */
    height: auto;
    margin-bottom: 1.5vh;  /* Reduced margin-bottom */
    margin-right: 0.85vw;
}

.link {
    color: white;
    text-decoration: none;
}


.form-container form {
    display: flex;
    flex-direction: column;
}
.form-container div {
    align-items: center;
}

.form-container input,
.form-container textarea,
.form-container button {
    font-family: "Noto Serif", serif;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.form-container textarea {
    padding-bottom: 10%; 
}
.form-container button {
    font-family: "Noto Serif", serif;
    padding: 1% 2%;
    background-color: #BA9573;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer {
    background-color: #806348; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    bottom: 0; 
    width: 100%; 
}

.footer p {
    font-family: "Noto Serif", serif;
    font-size: 1vw;
}