nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vw;
    max-height: 4vw;
    min-height: 50px;
    background-color: #ba9573;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 3.2vw;
    width: auto;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between; 
    margin: 0 auto;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}


.nav-left {
    margin-left: 5vw; 
}

.nav-right{
    margin-right: 5vw;
}

.nav-right div {
    flex-grow: 1;
    text-align: center;
}

.nav-right div a {
    font-family: "Noto Serif", serif;
    display: inline-block;
    padding: 1.7% 2%;
    color: #fff;
    text-decoration: none;
    font-size: 1vw;
    width: 8vw;
    height: 2.4vw;
    line-height: 2.4vw;
    border-radius: 1vw;
    background-color: #ba9573;
    transition: background-color 0.3s ease;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
}

.nav-right div a:hover {
    background-color: #806348;
    border-radius: 1vw;
}

@media only screen and (max-width: 767px) {
    nav {
        height: 4vw;
        max-height: 50px;
        min-height: 50px;
    }

    .nav-container {
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
    }

    .logo {
        height: 5vw;
        max-height: 50px;
    }

    .nav-left div:not(:last-child) {
        margin-right: 2vw;
    }

    .nav-left div a {
        padding: 0.3vw 0.6vw;
        width: 10vw;
        line-height: 2.5vw;
        min-height: 2.0vw;
        font-size: min(1.5vw);
        margin-left: 1.6vw;
        margin-right: 1.6vw;
    }
}
