
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    justify-content: center;
    align-items: center;
}
html{
    scroll-behavior: smooth; 
}

.full-width-image {
    position: relative;
    z-index: 0;
}

.full-width-image img {
    display: block;
    width: 100%;
    height: 50vw;
    opacity: 0.6;
}

.black-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vw;
    background-color: #000;
    z-index: -1;
}

.image-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    z-index: 2;
    max-width: 90%; 
    margin-bottom: 5vw;
}

.image-text h1 {
    font-size: 6vw;
    margin: 0;
    font-family: "Noto Serif", serif;
}

.image-text p {
    font-size: 3vw;
    margin: 0;
    font-family: "Noto Serif", serif;
}




.icons-container {
    position: relative; 
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}

.icon {
    display: flex;
    align-items: center;
    margin-bottom: 3%; 
}

.icon img {
    width: 6%; 
    margin-right: 4%;  
}

.icon p {
    font-family: "Noto Serif", serif;
    max-width: 33%; 
    font-size: 1.1vw; 
    word-wrap: break-word; 
}

.big-image {
    position: absolute;
    top: 4.5%;
    right: 1%;
    width: 40vw; 
    max-width: 35%;
    margin-right: 15%;
    z-index: -1;
}

.big-image img {
    width: 80%; 
    height: auto;
    border-radius: 10px;
    margin-left: 10%;
}

.offer-description {
    font-family: "Noto Serif", serif;
    scroll-margin-top: 5vw;
    position: relative;
    color: #000; 
    font-size: 2vw; 
    margin-top: 5%; 
    margin-bottom: 2%;
    margin-left: 20%; 
}





.brown-rectangle {
    scroll-margin-top: 3vw;
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: #D0C1A9;
    min-height: 100%;
    padding: 20px;
    height: 45vw;
    display: flex;
}



.left-content {
    flex: 1;
    margin-left: 14%;
    margin-top: 10%;
}

.left-content img {
    width: auto; 
    height: 87%;
    border-radius: 10px;
}




.right-content {
    flex: 2;
    padding: 0 2%;
    margin-left: 10%;
    margin-right: 15%;
}

.right-content p {
    font-family: "Noto Serif", serif;
    color: #fff;
    font-size: 1.1vw;
    line-height: 1.7;
    word-wrap: break-word;
    max-width: 100%;
}
.right-content h2{
    font-family: "Noto Serif", serif;
    font-size: 3vw;
    color: #fff;
    margin-left: 7%;
}




.pricing {
    scroll-margin-top: 7vw;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 7%;
}

.pricing h2 {
    font-family: "Noto Serif", serif;
    font-size: 3vw;
    margin-right: 10%;
    margin-left: 10%;
}

.pricing p {
    font-family: "Noto Serif", serif;
    font-size: 1.1vw;
    text-align: center;
    color: black;
    word-wrap: break-word; 
    margin-right: 10%;
    margin-left: 10%;
}

.pricing-plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    
}

.pricing-plan {
    margin: 2%;
    width: 30%; 
    max-width: 350px; 
    background-color: #BA9573;
    border-radius: 10px;
    font-size: 1.1vw;
    background: linear-gradient(to bottom, #D0C1A9, #BA9573); /* Gradient tła */
}

.pricing-header {
    background-color: #D0C1A9;
    padding: 1.5%;
    border-radius: 10px 10px 0 0;
    color: white;
}

.pricing-body {
    font-family: "Noto Serif", serif;
    padding: 3%;
    font-size: 1.1vw;
}

.pricing-body p {
    font-family: "Noto Serif", serif;
    font-size: 1.1vw;
    color: white;
}

@media screen and (max-width: 1000px) {
    .pricing-plan {
        position: relative; /* Zmieniamy pozycję na relative */
        width: 50%; /* Ustawiamy szerokość na 100% */
        max-width: none; /* Usuwamy maksymalną szerokość */
        margin-left: 30%;
        margin-right: 30%
    }
}

