body {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth; 
}


.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px; /* Odstępy między obrazkami: 40px w pionie, 20px w poziomie */
    padding: 20px;
    margin-top: 75px; /* Margines na górze galerii */
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: 150px;
    scroll-margin-top: 90px;
}

.gallery-item {
    overflow: hidden;
    display: flex;
    aspect-ratio: 9 / 8; /* Ustawia proporcje obrazu, np. 16:9 */
    justify-content: center;
    align-items: center;
    
}

.gallery-item img {
    width: 80%; /* Szerokość obrazu ustawiona na 80% szerokości kontenera */
    height: 100%;
    object-fit: cover; /* Upewnia się, że obrazki są przycięte, aby pasowały do kontenerów */
    display: block;
    border-radius: 10px; /* Dodaj zaokrąglenie rogów do kontenera */
}

@media only screen and (max-width: 767px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr); /* Jedna kolumna na ekranach o szerokości mniejszej niż 767px */
        gap: 20px; /* Odstępy między obrazkami */
        padding: 10px; /* Zmniejszamy wewnętrzne marginesy galerii */
        margin-left: 30px; /* Zmniejszamy marginesy na bokach galerii */
        margin-right: 30px;
    }

    .gallery-item {
        height: auto; /* Automatyczna wysokość kontenera na ekranach o mniejszej szerokości */
    }
}
