
@font-face{
    font-family: 'CustomFont';
    src: url(NT_Marley_Soft_Light.otf);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    justify-content: center;
    align-items: center;
}
html{
    scroll-behavior: smooth; 
}


/* ##### Enter View ###### */

.full-width-image {
    position: relative;
    z-index: 0;
}
.full-width-image img {
    display: block;
    width: 100%;
    height: 50vw;
    opacity: 0.6;
}
.black-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vw;
    background-color: #000;
    z-index: -1;
}
.image-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    z-index: 2;
    max-width: 90%; 
    margin-bottom: 5vw;
}
.image-text h1 {
    font-size: 6vw;
    margin: 0;
    font-family: 'CustomFont';
}
.image-text p {
    font-size: 3vw;
    margin: 0;
    font-family: 'CustomFont';
}
/* ##### Enter View ###### */



/* ##### TENDER ###### */
.icons-container {
    position: relative; 
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
}
.icon {
    display: flex;
    align-items: center;
    margin-bottom: 3%; 
}
.icon img {
    width: 6%; 
    margin-right: 4%;  
}
.icon p {
    font-family: 'CustomFont';
    max-width: 33%; 
    font-size: 1.1vw; 
    word-wrap: break-word; 
}
.big-image {
    position: absolute;
    width: 47vw; 
    z-index: -1;
    margin-top: 9.6%;
    right: 0;
}
.big-image img {
    width: 63.5%; 
    height: auto;
    border-radius: 10px;
    margin-left: 35%;
}
.offer-description {
    font-family: 'CustomFont';
    scroll-margin-top: 2vw;
    position: relative;
    color: #000; 
    font-size: 2vw; 
    margin-top: 5%; 
    margin-bottom: 1%;
    margin-left: 0.5%;
}
/* ##### TENDER ###### */




/* ##### ABOUT COMPANY ###### */
.brown-rectangle {
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: #D0C1A9;
    min-height: 100%;
    padding: 20px;
    height: 55vw;
    display: flex;
}
.left-content {
    position: absolute;
    width: 47vw; 
    flex: 1;
    margin-left: 14.5%;
    margin-top: 4%;
}

.left-content img {
    width: 65.5%; 
    height: auto;
    border-radius: 10px;
}

.right-content {
    scroll-margin-top: 2vw;
    position: absolute;
    flex: 2;
    padding: 0 2%;
    margin-top: 0.7%;
    margin-left: 51.2%;
}

.right-content p {
    font-family: 'CustomFont';
    color: #fff;
    font-size: 1.1vw;
    line-height: 1.5;
    word-wrap: break-word;
    max-width: 68%;
}
.right-content h2{
    font-family: 'CustomFont';
    font-size: 3vw;
    color: #fff;
}
/* ##### ABOUT COMPANY ###### */





/* ##### PIRCING ###### */
.pricing {
    scroll-margin-top: 5vw;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 7%;
}

.pricing h2 {
    font-family: 'CustomFont';
    font-size: 3vw;
    margin-right: 10%;
    margin-left: 10%;
}

.pricing p {
    font-family: 'CustomFont';
    font-size: 1.1vw;
    text-align: center;
    color: black;
    word-wrap: break-word; 
    margin-right: 10%;
    margin-left: 10%;
}

.setting-pircing{
    margin-top: 3%;
}

.pricing-plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    
}

.pricing-plan {
    margin: 2%;
    width: 30%; 
    max-width: 350px; 
    background-color: #BA9573;
    border-radius: 10px;
    font-size: 1.1vw;
    background: linear-gradient(to bottom, #D0C1A9, #BA9573); 
}

.pricing-header {
    background-color: #D0C1A9;
    padding: 1.5%;
    border-radius: 10px 10px 0 0;
    color: white;
}

.pricing-body {
    font-family: 'CustomFont';
    padding: 3%;
    font-size: 1.1vw;
}

.pricing-body p {
    font-family: 'CustomFont';
    font-size: 1.1vw;
    color: white;
}

@media screen and (max-width: 1000px) {
    .pricing-plan {
        position: relative; 
        width: 50%; 
        max-width: none; 
        margin-left: 30%;
        margin-right: 30%
    }
}
/* ##### PIRCING ###### */
